{% extends 'layouts.html' %}

{% block contentA %}
    <div class="contentA align-self-center">
        <div class="container-fluid">
            <h1 id="carousel_title" class="text-center">Tutorial</h1>
        </div>
        <div class="container-fluid">
            <div id="carouselMain" class="carousel slide">
                <div class="carousel-inner text-center">
                    <div class="carousel-item active">
                        <img class="rounded mx-auto d-block"
                             src="{{ url_for('static', filename='tutorial/Tutorial 1.png') }}"
                             alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <p style="background: rgba(0, 0, 0, 0.75)">To create your own carousels, sign up or
                                login!</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="rounded mx-auto d-block"
                             src="{{ url_for('static', filename='tutorial/Tutorial 2.png') }}"
                             alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <p style="background: rgba(0, 0, 0, 0.75)">After login, if you have no carousels, you'll go
                                straight to the creation page!</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="rounded mx-auto d-block"
                             src="{{ url_for('static', filename='tutorial/Tutorial 3.png') }}"
                             alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <p style="background: rgba(0, 0, 0, 0.75)">After you create your carousel, you'll be sent to
                                the edit page, where you can add more
                                pictures to it, or delete some.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselMain"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselMain"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock contentA %}